<app-navbar>
  <div class="mt-4 text-center">
    <div class="row ml-5 mr-5 mb-4">
      <div class="col-sm-10">
        <div
          class="card-header-usco cursor-select p-2"
          [routerLink]="['/autorizacion']"
          routerLinkActive="router-link-active"
        >
          <h6
            *ngIf="(autorizacion | json) != null"
            class="font-usco-default font-weight-bold"
          >
            {{ autorizacion.titulo }}
          </h6>
        </div>
      </div>
      <div class="col">
        <button
          class="btn btn-usco-vt cursor-select"
          (click)="registrarFormulario()"
        >
          <i class="fa-solid fa-plus"></i> Registrar
        </button>
      </div>
    </div>
    <div class="row ml-5 mr-5 mb-4">
      <div class="col">
        <div class="card rounded-2 p-0 shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <fieldset class="scheduler-border shadow-sm">
                  <legend class="scheduler-border font-usco-vt">Items</legend>
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="table table-hover shadow-sm"
                  >
                    <ng-container matColumnDef="index">
                      <th mat-header-cell *matHeaderCellDef>N°</th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="font-sm-usco"
                      >
                        {{ dataSource.filteredData.indexOf(element) + 1 }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="seccion">
                      <th mat-header-cell *matHeaderCellDef>Sección</th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="font-sm-usco"
                      >
                        {{ element.seccionNombre }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="contenido">
                      <th mat-header-cell *matHeaderCellDef>Contenido</th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="font-sm-usco"
                        style="width: 80%"
                      >
                        <div
                          class="p-2"
                          [innerHTML]="element.itemContenido"
                          style="
                            background-color: white;
                            border: 1px #ccc solid;
                          "
                        ></div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="opciones">
                      <th mat-header-cell *matHeaderCellDef>Opciones</th>
                      <td mat-cell *matCellDef="let element">
                        <button
                          class="btn btn-info btn-sm m-2"
                          (click)="editarFormulario(element)"
                          #tooltip="matTooltip"
                          matTooltip="Editar"
                          matTooltipPosition="above"
                        >
                          <i class="fa-solid fa-pencil fa-xs"></i>
                        </button>
                        <button
                          class="btn btn-danger btn-sm m-2"
                          (click)="confirmarEliminado(element)"
                          #tooltip="matTooltip"
                          matTooltip="Borrar"
                          matTooltipPosition="above"
                        >
                          <i class="fa-solid fa-trash fa-xs"></i>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>
                  <mat-paginator
                    [pageSizeOptions]="[3, 6, 9]"
                    showFirstLastButtons
                  ></mat-paginator>
                </fieldset>
              </div>
              <div class="col">
                <fieldset class="scheduler-border shadow-sm">
                  <legend class="scheduler-border font-usco-vt">
                    Vista previa autorización
                  </legend>
                  <div
                    style="
                      border: 1px solid #cccccc;
                      padding: 0;
                      margin: 0;
                      color: black;
                    "
                  >
                    <img
                      src="assets/header-usco.png"
                      class="img-fluid d-block w-100"
                      style="margin: 0"
                    />
                    <div class="ml-4 mr-4 pl-5 pr-5">
                      <h6
                        *ngIf="(autorizacion | json) != null"
                        class="mt-2 mb-4 font-weight-bold text-center"
                      >
                        {{ autorizacion!.titulo }}
                      </h6>
                      <div
                        *ngFor="let item of listadoAutorizacionItem"
                        class="text-justify"
                        style="font-size: 12px"
                        [innerHTML]="item.itemContenido"
                      ></div>
                    </div>
                    <div class="row ml-4 mr-4 pl-4 mb-3 pr-5">
                      <div class="col text-justify">
                        <mat-checkbox>
                          <small style="font-size: 13px">
                            Autorizo de manera voluntaria e informada a la
                            Universidad Surcolombiana para tratar mis datos
                            personales.</small
                          ></mat-checkbox
                        >
                      </div>
                    </div>
                    <div
                      *ngIf="(autorizacion | json) != null"
                      class="text-left ml-4 mb-3 pl-5"
                    >
                      <label class="file" *ngIf="autorizacion.anexo == 1">
                        <input
                          type="file"
                          accept="application/pdf"
                          aria-label="File browser example"
                        />
                        <span class="file-custom">Anexo</span>
                      </label>
                    </div>
                    <img
                      src="assets/footer-usco.png"
                      class="img-fluid d-block w-100"
                      style="margin: 0"
                    />
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
